aiofiles==0.3.0
docker-py==1.10.6
docker-pycreds==0.2.1
httptools==0.0.9
Jinja2==2.9.4
MarkupSafe==0.23
multidict==2.1.4
requests==2.12.5
Sanic==0.2.0
six==1.10.0
ujson==1.35
uvloop==0.7.2
webcolors==1.7
websocket-client==0.40.0
