{% extends "bootstrap/base.html" %}
{% block title %}Conspectus{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="apple-touch-icon" sizes="57x57" href="{{url_for('static', filename='favicon/apple-icon-57x57.png')}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{url_for('static', filename='favicon/apple-icon-60x60.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static', filename='favicon/apple-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='favicon/apple-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{url_for('static', filename='favicon/apple-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{url_for('static', filename='favicon/apple-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{url_for('static', filename='favicon/apple-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{url_for('static', filename='favicon/apple-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='favicon/apple-icon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{url_for('static', filename='favicon/android-icon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static', filename='favicon/favicon-96x96.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='favicon/manifest.json')}}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{url_for('static', filename='favicon/ms-icon-144x144.png')}}">
    <meta name="theme-color" content="#ffffff">
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='conspectus.css')}}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        window.setTimeout(function(){ document.location.reload(true); }, {{ reload }});
    </script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand">
                    <img alt="Brand" src="{{url_for('static', filename='images/logo brand.png')}}">
                </span>
                <span class="navbar-brand"> Conspectus </span>
            </div>

            <p class="glyphicon glyphicon-refresh navbar-text"> Reload </p>
            <a href="?reload=1" class="btn btn-default navbar-btn">1 min</a>
            <a href="?reload=5" class="btn btn-default navbar-btn">5 min</a>
            <a href="?reload=10" class="btn btn-default navbar-btn">10 min</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% for node in nodes %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="panel-title">
                        {{ node.Description.Hostname }} <span title="Running Container" class="badge">{{ node.tasks|length }}</span>
                        {% if node.Spec.Role == 'manager' %}
                            <span title="Manager node" class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        {% endif %}
                        {% if node.ManagerStatus.Leader %}
                            <span title="Leader node" class="glyphicon glyphicon-king" aria-hidden="true"></span>
                        {% endif %}
                    </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {% for task in node.tasks %}
                            <div class="col-md-4 docker-container" style="background-color: {{ task.color }}">
                            {{ task.service_name }} ({{ task.Status.ContainerStatus.ContainerID|truncate(12, True, '') }} {{ task.Spec.ContainerSpec.Image }})</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <footer class="footer">
        <p class="text-muted">Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by <a href="https://github.com/chassing/">Christian Assing</a>.</p>
    </footer>
{% endblock %}
