{% extends "bootstrap/base.html" %}
{% block title %}Conspectus{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='conspectus.css')}}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        window.setTimeout(function(){ document.location.reload(true); }, {{ reload }});
    </script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand">
                    <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Conspectus - your Docker Swarm overview
                </span>
            </div>

            <p class="glyphicon glyphicon-refresh navbar-text"> Reload </p>
            <a href="?reload=1" class="btn btn-default navbar-btn">1 Minute</a>
            <a href="?reload=5" class="btn btn-default navbar-btn">5 Minute</a>
            <a href="?reload=10" class="btn btn-default navbar-btn">10 Minute</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% for node in nodes %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="panel-title">
                        {{ node.Description.Hostname }} <span title="Running Container" class="badge">{{ node.tasks|length }}</span>
                        {% if node.Spec.Role == 'manager' %}
                            <span title="Manager node" class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        {% endif %}
                        {% if node.ManagerStatus.Leader %}
                            <span title="Leader node" class="glyphicon glyphicon-king" aria-hidden="true"></span>
                        {% endif %}
                    </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {% for task in node.tasks %}
                            <div class="col-md-4 docker-container" style="background-color: {{ task.color }}">
                            {{ task.service_name }} ({{ task.Status.ContainerStatus.ContainerID|truncate(12, True, '') }} {{ task.Spec.ContainerSpec.Image }})</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <footer class="footer">
        <p class="text-muted">Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by <a href="https://github.com/chassing/">Christian Assing</a>.</p>
    </footer>
{% endblock %}
